In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
train = pd.read_csv("C:/Users/ABINAYA-T/Desktop/train.csv")
test = pd.read_csv("C:/Users/ABINAYA-T/Desktop/test.csv")

In [4]:
writer=pd.ExcelWriter('Regression_Output.xlsx', engine='xlsxwriter')

In [5]:
train.head(5)

,id,account_type,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,...,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active,cc_cons
0,23334,saving,M,63,305,7695.00,NaN,479.00,NaN,622.0,...,2.0,45000.0,20215.85,1279.37,7.0,3.0,470.0,NaN,0.00,435
1,20329,current,M,33,326,52702.00,988.72,29873.00,NaN,1087.0,...,10.0,150000.0,122037.66,55390.00,8.0,19.0,27000.0,NaN,4963.33,1921
2,17679,current,M,44,264,10800.49,3215.52,21659.64,1607.0,1168.0,...,7.0,13800.0,46827.00,29297.91,6.0,19.0,20800.0,NaN,0.00,1970
3,16428,saving,M,44,233,20936.00,NaN,2094.00,NaN,11778.5,...,1.0,19300.0,5426.55,7544.00,3.0,1.0,5300.0,NaN,1238.18,21579
4,18721,saving,F,35,324,1183.83,NaN,3656.29,NaN,945.0,...,3.0,3000.0,26178.05,53483.00,4.0,4.0,45000.0,NaN,0.00,1814

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32820 entries, 0 to 32819
Data columns (total 44 columns):
id                       32820 non-null int64
account_type             32820 non-null object
gender                   32820 non-null object
age                      32820 non-null int64
region_code              32820 non-null int64
cc_cons_apr              32820 non-null float64
dc_cons_apr              13768 non-null float64
cc_cons_may              32820 non-null float64
dc_cons_may              15481 non-null float64
cc_cons_jun              32820 non-null float64
dc_cons_jun              11523 non-null float64
cc_count_apr             30421 non-null float64
cc_count_may             31667 non-null float64
cc_count_jun             31230 non-null float64
dc_count_apr             13768 non-null float64
dc_count_may             15481 non-null float64
dc_count_jun             17323 non-null float64
card_lim                 32811 non-null float64
personal_loan_active     2742 non-null float64
vehicle_loan_active      846 non-null float64
personal_loan_closed     2883 non-null float64
vehicle_loan_closed      1625 non-null float64
investment_1             1426 non-null float64
investment_2             2338 non-null float64
investment_3             1332 non-null float64
investment_4             406 non-null float64
debit_amount_apr         30930 non-null float64
credit_amount_apr        29518 non-null float64
debit_count_apr          31062 non-null float64
credit_count_apr         31062 non-null float64
max_credit_amount_apr    29518 non-null float64
debit_amount_may         30519 non-null float64
credit_amount_may        29415 non-null float64
credit_count_may         30749 non-null float64
debit_count_may          30749 non-null float64
max_credit_amount_may    29415 non-null float64
debit_amount_jun         30625 non-null float64
credit_amount_jun        31277 non-null float64
credit_count_jun         31292 non-null float64
debit_count_jun          31292 non-null float64
max_credit_amount_jun    31277 non-null float64
loan_enq                 609 non-null object
emi_active               32820 non-null float64
cc_cons                  32820 non-null int64
dtypes: float64(37), int64(4), object(3)
memory usage: 11.0+ MB

In [12]:
# Join Train and Test Dataset
train['source']= 'train'
test['source']= 'test'
data = pd.concat([train,test], ignore_index = True, sort = False)
print(train.shape, test.shape, data.shape)

(32820, 45) (14067, 44) (46887, 45)

In [27]:
#Check the percentage of null values per variable
data.isnull().sum()/data.shape[0]*100

id                       0.0
gender                   0.0
age                      0.0
region_code              0.0
cc_cons_apr              0.0
dc_cons_apr              0.0
cc_cons_may              0.0
dc_cons_may              0.0
cc_cons_jun              0.0
dc_cons_jun              0.0
cc_count_apr             0.0
cc_count_may             0.0
cc_count_jun             0.0
dc_count_apr             0.0
dc_count_may             0.0
dc_count_jun             0.0
card_lim                 0.0
personal_loan_active     0.0
vehicle_loan_active      0.0
personal_loan_closed     0.0
vehicle_loan_closed      0.0
investment_1             0.0
investment_2             0.0
investment_3             0.0
investment_4             0.0
debit_amount_apr         0.0
credit_amount_apr        0.0
debit_count_apr          0.0
credit_count_apr         0.0
max_credit_amount_apr    0.0
debit_amount_may         0.0
credit_amount_may        0.0
credit_count_may         0.0
debit_count_may          0.0
max_credit_amount_may    0.0
debit_amount_jun         0.0
credit_amount_jun        0.0
credit_count_jun         0.0
debit_count_jun          0.0
max_credit_amount_jun    0.0
emi_active               0.0
cc_cons                  0.0
source                   0.0
dtype: float64

In [24]:
#data.drop('account_type', axis=1, inplace=True)
#data.drop('loan_enq', axis=1, inplace=True)

In [21]:
#Turn gender binary
gender_dict = {'F':0, 'M':1}
data["gender"] = data["gender"].apply(lambda line: gender_dict[line])
data["gender"].value_counts()

1    40150
0     6737
Name: gender, dtype: int64

In [25]:
'''
from sklearn.preprocessing import Imputer
train = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit(train)
train= imp.transform(train)
'''

C:\Users\ABINAYA-T\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

ValueError: could not convert string to float: 'train'

In [26]:
data.fillna(data.mean(), inplace=True)

In [28]:
data.head(10)

,id,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,...,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,emi_active,cc_cons,source
0,23334,1,63,305,7695.00,5675.813594,479.00,5652.441187,622.00,4645.834573,...,2.000000,45000.000000,20215.850000,1279.37,7.0,3.0,470.0,0.00,435.0,train
1,20329,1,33,326,52702.00,988.720000,29873.00,5652.441187,1087.00,2806.240000,...,10.000000,150000.000000,122037.660000,55390.00,8.0,19.0,27000.0,4963.33,1921.0,train
2,17679,1,44,264,10800.49,3215.520000,21659.64,1607.000000,1168.00,355.000000,...,7.000000,13800.000000,46827.000000,29297.91,6.0,19.0,20800.0,0.00,1970.0,train
3,16428,1,44,233,20936.00,5675.813594,2094.00,5652.441187,11778.50,4645.834573,...,1.000000,19300.000000,5426.550000,7544.00,3.0,1.0,5300.0,1238.18,21579.0,train
4,18721,0,35,324,1183.83,5675.813594,3656.29,5652.441187,945.00,4645.834573,...,3.000000,3000.000000,26178.050000,53483.00,4.0,4.0,45000.0,0.00,1814.0,train
5,4340,1,26,233,53819.88,1371.000000,4712.92,2220.000000,1048.00,4645.834573,...,22.000000,20603.000000,31189.260000,33183.13,7.0,31.0,20890.0,0.00,626.0,train
6,28060,0,30,683,1495.00,4237.000000,2212.00,5292.000000,1964.00,4237.830000,...,24.000000,24782.000000,27984.330000,81517.00,3.0,31.0,50000.0,0.00,2052.0,train
7,746,1,32,892,1847.00,5976.000000,1347.80,4112.000000,669.00,3056.000000,...,19.000000,30281.000000,39320.360000,34332.00,3.0,23.0,31663.0,0.00,434.0,train
8,41628,1,37,233,9214.92,5675.813594,95625.88,16423.000000,11419.76,4645.834573,...,28.000000,51555.000000,285663.350000,254939.15,25.0,34.0,92800.0,0.00,10331.0,train
9,16836,1,47,233,9191.31,5675.813594,8327.55,5652.441187,14642.00,4645.834573,...,13.945263,49305.027192,76020.654885,503.00,1.0,0.0,275.0,0.00,2437.0,train

In [29]:
#Divide into test and train:
train = data.loc[data['source']=="train"]
test = data.loc[data['source']=="test"]

#Drop unnecessary columns:
test.drop(['source'],axis=1,inplace=True)
train.drop(['source'],axis=1,inplace=True)

#Export files as modified versions:
train.to_csv("C:/Users/ABINAYA-T/Desktop/train_modified.csv",index=False)
test.to_csv("C:/Users/ABINAYA-T/Desktop/test_modified.csv",index=False)

C:\Users\ABINAYA-T\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [30]:
train_df = pd.read_csv('C:/Users/ABINAYA-T/Desktop/train_modified.csv')
test_df = pd.read_csv('C:/Users/ABINAYA-T/Desktop/test_modified.csv')

In [46]:
#Define target and ID columns:
target = 'credit card consumption'
IDcol = ['User_Id']

#Define target and ID columns:
target = 'cc_cons'
IDcol = ['id']

from sklearn import metrics

def modelfit(alg, dtrain, dtest, predictors, target, IDcol, filename):
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain[target])
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    
    #Print model report:
    print("\nModel Report")
    #print("RMSLE : %.4g" % 100*(np.sqrt(metrics.mean_squared_log_error((dtrain[target]).values, dtrain_predictions))))
    print("RMSE : %.4g" % np.sqrt(metrics.mean_squared_error((dtrain[target]).values, dtrain_predictions)))
    
    #Predict on testing data:
    dtest[target] = alg.predict(dtest[predictors])
    
     #Export submission file:
    IDcol.append(target)
    submission = pd.DataFrame({ x: dtest[x] for x in IDcol})
    submission.to_csv(filename, index=False)

In [48]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression(normalize=True)
predictors = train_df.columns.drop(['cc_cons','id'])
modelfit(LR, train_df, test_df, predictors, target, IDcol, "C:/Users/ABINAYA-T/Desktop/LR.csv")

Model Report
RMSE : 1.097e+04

In [49]:
from sklearn.tree import DecisionTreeRegressor
DT = DecisionTreeRegressor(max_depth=15, min_samples_leaf=100)
modelfit(DT, train_df, test_df, predictors, target, IDcol, "C:/Users/ABINAYA-T/Desktop/DT.csv")

Model Report
RMSE : 1.097e+04

In [65]:
DTR = DecisionTreeRegressor(max_depth=20, min_samples_leaf=40)
modelfit(DTR, train_df, test_df, predictors, target, IDcol, "C:/Users/ABINAYA-T/Desktop/DTR.csv")

Model Report
RMSE : 1.052e+04

In [66]:
from sklearn.ensemble import GradientBoostingRegressor
GBR=GradientBoostingRegressor(random_state=21, n_estimators=400)
modelfit(GBR , train_df, test_df, predictors, target, IDcol, "C:/Users/ABINAYA-T/Desktop/GBR.csv")

Model Report
RMSE : 8828

In [71]:
from sklearn.ensemble import RandomForestRegressor
RFR=RandomForestRegressor(n_estimators=100,max_depth=20, min_samples_leaf=40)
modelfit(RFR, train_df, test_df, predictors, target, IDcol, "C:/Users/ABINAYA-T/Desktop/RFR.csv")

Model Report
RMSE : 1.041e+04